<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon projet IA</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Mon projet IA</h1>
    <h2>Classification de Texte</h2>
    <textarea id="text" rows="7" placeholder="Entrez votre texte ...."></textarea><br>
    <button onclick="classifyText()">Classification</button>
    <div id="result"></div>
    <hr>
    
    <h2>Gemini IA</h2>
    <textarea id="geminiPrompt" rows="5" placeholder="Ecris la question ici ... "></textarea>
    <button id="geminiBtn">Envoyer à Gemini</button>
    <div id="geminiResponse"></div>
    <script src="/static/script.js"></script>
</body>
</html>
