<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>AI Text Analyzer</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container">
    <h1>Analyseur de texte - IA</h1>

    <textarea id="inputText" placeholder="Écris ton texte ici..."></textarea>

    <div class="buttons">
        <button onclick="classifyText()">Classifier HuggingFace</button>
        <button onclick="analyzeGemini()">Analyse Gemini</button>
        <button onclick="classifyAndGemini()">Classifier et Analyse Gemini</button>
    </div>

    <h2>Résultat :</h2>
    <pre id="resultBox">Aucun résultat pour le moment...</pre>
</div>

<script src="/static/js/script.js"></script>
</body>
</html>
