body {
    background: #f3f3f3;
    font-family: Arial, sans-serif;
}

.container {
    width: 700px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px #999;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bbb;
    font-size: 15px;
}

.buttons {
    margin-top: 15px;
}

button {
    padding: 10px 15px;
    margin-right: 10px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1e60d1;
}

#resultBox {
    background: #000;
    color: #0f0;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}
